.admin-header {
    padding: 0;
    z-index: 2;
    box-shadow: none !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    .container {
        padding: 0;
    }
}
.admin-header__logo img {
    height: 40px;
}