.admin-sidebar {
    float: left;
    height: 100%;
    box-shadow: none !important;
    z-index: 1;
    .v-navigation-drawer {
        top: 50px !important;
    }
    .admin-sidebar__item-link {
        display: flex;
        width: 100%;
        text-decoration: none;
        color: #212529;
    }
}